@import '../../../styles.scss';

.container {
  background: url("/assets/images/starBackground.png") no-repeat center center fixed;
  min-height: 100vh;
  @include fluid-type(1rem, 1.4rem);

  .title {
    color: $faded-black;
  }

  .contact {
    width: 80vw;
    margin: auto;
    color: $cream;
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px 0;


    .links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      gap: 20px;

      .icon {
        height: 35px;
        width: 35px;
        background-color: $cream;

        &:hover {
          background-color: $blue;
        }
      }

      .github-icon {
        mask: url('/assets/icons/github.svg') no-repeat center / contain;
        -webkit-mask: url('/assets/icons/github.svg') no-repeat center / contain;
      }
      .linkedin-icon {
        mask: url('/assets/icons/linkedin.svg') no-repeat center / contain;
        -webkit-mask: url('/assets/icons/linkedin.svg') no-repeat center / contain;
      }

      .line {
        flex: 1;
        height: auto;
        width: 4px;
        background: $faded-black;
      }
    }

    .contact-form {
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        margin: 0;
        padding: 0;
        text-align: center;
      }

      button {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;

        div {
          width: 0;
          overflow: hidden;
          background: $blue-saber;
          box-shadow:
            0 0 2px rgba(255, 255, 255, 0.9),
            0 0 4px rgba($blue, 0.8),
            0 0 8px rgba($blue, 0.8),
            0 0 16px rgba($blue, 0.4);
          border-radius: 0 20px 20px 0;
          transition: width 0.5s ease-out;

          p {
            width: 100%;
            text-align: center;
            @include fluid-type(1rem, 1.4rem);
            color: $blue;
            margin: 3px 0;
          }

          &.on {
            width: 100%;
            cursor: pointer;
          }
        }
        img {
          height: 60px;
        }

        &.enabled {
          cursor: pointer;
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  label {
    display: flex;
    flex-direction: column;
    color: $cream;
    padding-bottom: 10px;

    input,
    textarea {
      background: transparent;
      border: 1px solid $faded-black;
      border-radius: 6px;
      padding: 0.75rem 1rem;
      color: $cream;
      font-size: 1rem;

      &:focus {
        outline: none;
        border-color: $red;
      }
      &.error {
        border-color: $red;
      }
    }
  }
}
