@import "../../../styles.scss";

.container {
  background: url("/assets/images/starBackground.png") no-repeat center center fixed;
  position: relative;
  top: -20px;
  color: $cream;

  h2 {
    color: $faded-black;
    text-align: center;
    width: fit-content;
  }

  .scroller {
    max-width: 80vw;
    margin: 0 auto;

    &__inner {
      padding-inline: 0;
      margin: 0;
      list-style: none;

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    &[data-animated="true"] {
      overflow: hidden;
      mask: linear-gradient(
          90deg,
          transparent,
          white 20%,
          white 80%,
          transparent
      );

      .scroller__inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation-duration, 40s)
        var(--_animation-direction, forwards) linear infinite;
      }
    }

    &[data-direction="right"] {
      --_animation-direction: reverse;
    }

    &[data-speed="fast"] {
      --_animation-duration: 20s;
    }

    &[data-speed="slow"] {
      --_animation-duration: 60s;
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  .logo {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    margin: 0 clamp(20px, 80vw, 80px);

    img {
      width: auto;
      height: 85%;
      filter:
        drop-shadow(4px 4px 2px rgba(255, 255, 255, 0.8))
        drop-shadow(0 6px 12px rgba(255, 255, 255, 0.15));
    }
  }
}
