<div class="container">
  <h2>Skills</h2>

  <div class="scroller" #scroller data-speed="fast" data-direction="left">
    <ul class="scroller__inner">
      <li class="logo"><img src="/assets/logos/html.png"    alt="HTML5"></li>
      <li class="logo"><img src="/assets/logos/angular.png" alt="Angular"></li>
      <li class="logo"><img src="/assets/logos/css.png"     alt="CSS3"></li>
      <li class="logo"><img src="/assets/logos/scss.png"    alt="SCSS"></li>
      <li class="logo"><img src="/assets/logos/js.png"      alt="JavaScript"></li>
      <li class="logo"><img src="/assets/logos/ts.png"      alt="TypeScript"></li>
      <li class="logo"><img src="/assets/logos/java.png"    alt="Java"></li>
      <li class="logo"><img src="/assets/logos/mysql.png"   alt="MySQL"></li>
      <li class="logo"><img src="/assets/logos/php.png"     alt="PHP"></li>
      <li class="logo"><img src="/assets/logos/python.png"  alt="Python"></li>
      <li class="logo"><img src="/assets/logos/git.png"     alt="Git"></li>
    </ul>
  </div>
</div>
