@import "../../../styles.scss";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("/assets/images/starBackground.png") no-repeat center center fixed;

  h2 {
    color: $faded-black;
  }

  .crawlWrapper {
    position: relative;
    top: -55px;
  }

  .intro {
    font-family: 'Michroma', sans-serif;
    font-weight: 600;
    @include fluid-type(1rem, 2rem);
    letter-spacing: 6px;
    text-align: center;
    color: $blue;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade-out 2s linear 2s forwards;

    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        display: none;
      }
    }
  }

  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #feda4a;
    font-family: 'Michroma', sans-serif;
    @include fluid-type(3rem, 6rem);
    font-weight: 600;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;

    .crawl {
      position: relative;
      top: 150vh;
      transform-origin: 50% 100%;
      animation: crawl 80s linear 5s;

      @keyframes crawl {
        from {
          transform: rotateX(25deg)  translateZ(-250px) translateY(0);
        }
        to {
          transform: rotateX(25deg) translateZ(-250px) translateY(-2000%);
        }
      }
    }
  }

  button {
    background: $yellow;
    border: none;
    border-radius: 20px;
    @include fluid-type(1rem, 2rem);
    width: fit-content;
    padding: 5px 30px;
    margin: auto;
    transform: translateY(-45vh);
    font-family: 'Michroma', sans-serif;
    opacity: 0;
    transition: 0.5s;
    animation: fade-in 1s ease-in-out forwards;
    color: $blue;

    &:hover {
      cursor: pointer;
      background: $blue;
      color: $yellow;
    }

    @keyframes fade-in {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
  }
}
