<div class="container">

  <nav>
    <div class="leftSide">
      <a href="#home"><i class="fa-solid fa-house"></i></a>
      <hr>
      <div class="leftSide-links">
        <a href="#about"><i class="fa-solid fa-user"></i></a>
        <a href="#history"><i class="fa-solid fa-timeline"></i></a>
        <a href="#skills"><i class="fa-solid fa-code"></i></a>
        <a href="#contact"><i class="fa-solid fa-comment"></i></a>
      </div>

    </div>
  </nav>

  <div class="components">
    <app-home id="home"></app-home>
    <app-skills id="skills"></app-skills>
    <app-projects id="projects"></app-projects>
    <app-about id="about"></app-about>
    <app-history id="history"></app-history>
    <app-contact id="contact"></app-contact>
  </div>

  <i class="fa-solid fa-jedi"></i>
</div>
