@import "../styles.scss";

.container {
  display: flex;

  .vertical-skills-scroller {
    position: fixed;
    top: 0; left: 0;
    max-height: 100vh;
    align-self: center;
    overflow: hidden;
    mask: linear-gradient(
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    z-index: 100;

    .vertical-inner {
      list-style: none;
      padding: 0;
      animation: scroll 20s forwards linear infinite;
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
        animation-play-state: paused;
      }

      @keyframes scroll {
        to {
          transform: translateY(calc(-50% - 0.5rem));
        }
      }
    }
  }

  .logo {
    width: 80px;
    height: 80px;
    transform: rotate(-90deg);
    margin: 60px 0;

    img {
      width: auto;
      height: 70%;
      transition: 0.5s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .components {
    width: 100vw;
  }
}


