<div class="container">
  <ng-container *ngIf="showOverlay; else appContent">
    <div #crtScreen class="crt-screen" [class.power-off]="isOff">
      <img src="./assets/images/bezel.png" alt="Bezel" class="bezel">
      <img src="./assets/images/scanlines.png" alt="Scanlines" class="scanlines">
      <p #intro class="crt-text"></p>
    </div>
  </ng-container>

  <app-header></app-header>

  <ng-template #appContent>
    <div class="components" appCustomCursor (scroll)="onScroll()">
      <div>
        <app-skills></app-skills>
      </div>
      <div>
        <app-about></app-about>
      </div>
      <div>
        <app-projects></app-projects>
      </div>
      <div>
        <app-contact></app-contact>
      </div>
    </div>
  </ng-template>
</div>

