<div class="container">
  <h2>My History</h2>
  <section class="timeline">
    <!-- HS Grad -->
    <div class="timeline-item">
      <!-- High school grad picture -->
      <div class="img-left br">
        <img src="/assets/images/hsGraduation.png">
      </div>
      <!-- Line + Icon + Line -->
      <div class="icon">
        <i class="fa-solid fa-school"></i>
      </div>
      <!-- High school grad explanation -->
      <div class="text text-right">
        <h3 class="blue-text">2015 - Washington High School</h3>
        <p>Graduated as class president with honors and got accepted into every college I applied to even without completing a foreign language.</p>
        <p><i>Also created a website for my class with important dates and information even though no one asked for it.</i></p>
      </div>
    </div>
    <!-- UW -->
    <div class="timeline-item">
      <div class="text text-left">
        <h3 class="blue-text">2015 - UW Tacoma</h3>
        <p>Attended University of Washington - Tacoma (1 year) for a bachelor’s in Computer Science.</p>
        <p><i>Life demanded I take a break to compete with the rise in cost of rent.</i></p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-book"></i>
      </div>
      <div class="img-right">
        <img src="/assets/images/uw.png">
      </div>
    </div>
    <!-- Ford -->
    <div class="timeline-item">
      <div class="img-left">
        <img src="/assets/images/fordIcon.png">
      </div>
      <div class="icon">
        <i class="fa-solid fa-chalkboard-user"></i>
      </div>
      <div class="text text-right">
        <h3 class="blue-text">2017 - Ford Middle School</h3>
        <p>Accepted a position at Ford Middle School to help support students in their academic goals.</p>
        <p><i>This position completely fell into my lap but I couldn’t be more grateful for everything it taught me.</i></p>
      </div>
    </div>
    <!-- Ford -->
    <div class="timeline-item">
      <div class="text text-left">
        <h3 class="blue-text">2017 - Ford Middle School</h3>
        <p>Accepted Math LAP position to help students strengthen their math skills.</p>
        <p><i>A small change of position but one that was even more fulfilling as I got to see the student’s growth as we worked together towards their goals.</i></p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-calculator"></i>
      </div>
      <div class="img-right br">
        <img src="/assets/images/fordPicture.png">
      </div>
    </div>
    <!-- Evergreen -->
    <div class="timeline-item">
      <div class="img-left">
        <img src="/assets/images/evergreen.png">
      </div>
      <div class="icon">
        <i class="fa-solid fa-brain"></i>
      </div>
      <div class="text text-right">
        <h3 class="blue-text">2020 Evergreen State College</h3>
        <p>Attended Evergreen State (1 year) for a Bachelor’s in Education.</p>
        <p><i>The time I thought I wanted to be an educator.</i></p>
      </div>
    </div>
    <!-- HTML & CSS Class -->
    <div class="timeline-item">
      <div class="text text-left">
        <h3 class="blue-text">2021 - Ford Middle School</h3>
        <p>Created and taught curriculum for 8th grade level web design.</p>
        <p><i>My excitement for code was transparent and the students wanted to see what the hype was about.</i></p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-person-chalkboard"></i>
      </div>
      <div class="img-right br">
        <img src="/assets/images/html_css.png">
      </div>
    </div>
    <!-- WGU -->
    <div class="timeline-item">
      <div class="img-left">
        <img src="/assets/images/wgu.png">
      </div>
      <div class="icon">
        <i class="fa-solid fa-scroll"></i>
      </div>
      <div class="text text-right">
        <h3 class="blue-text">2021 - Western Governors University</h3>
        <p>Attended WGU for a Bachelor’s in Software Engineering.</p>
        <p><i>Third time is the charm right?</i></p>
      </div>
    </div>
    <!-- IT at FPSD -->
    <div class="timeline-item">
      <div class="text text-left">
        <h3 class="blue-text">2021 - Franklin Pierce School District</h3>
        <p>IT Intern lead for the Franklin Pierce School district.</p>
        <p><i>I was scouted by the lead in the networking department, best summer job I’ve ever had.</i></p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-laptop"></i>
      </div>
      <div class="img-right br">
        <img src="/assets/images/fps.png">
      </div>
    </div>
    <!-- Picha Farms Redesign -->
    <div class="timeline-item">
      <div class="img-left br screenshot">
        <img src="/assets/images/picha.png">
      </div>
      <div class="icon">
        <i class="fa-solid fa-tractor"></i>
      </div>
      <div class="text text-right">
        <h3 class="blue-text">2022 - Website Redesign</h3>
        <p>Redesigned Picha Farms website.</p>
        <p><i>This was a family owned farm whose website hadn’t been touched since 2004. I designed it for free and they loved it but chose not to post the site since they are going out of business.</i></p>
      </div>
    </div>
    <!-- Miles Tech -->
    <div class="timeline-item">
      <div class="text text-left">
        <h3 class="blue-text">2022 - Miles Technology</h3>
        <p>Summer Intern for the IT service desk.</p>
        <p><i>Right after I got my A+ certificate and I wanted to apply my skills.</i></p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-computer"></i>
      </div>
      <div class="img-right br">
        <img src="/assets/images/miles.jpeg">
      </div>
    </div>
    <!-- Beeline Redesign -->
    <div class="timeline-item">
      <div class="img-left br screenshot">
        <!-- TODO: Take screenshot of beeline site -->
        <img src="/assets/images/">
      </div>
      <div class="icon">
        <i class="fa-solid fa-bug"></i>
      </div>
      <div class="text text-right">
        <h3 class="blue-text">2023 - Website Redesign</h3>
        <p>Redesigned Beeline Pest Control website.</p>
        <p><i>The business owner created his own site using a self service tool and struggled with aligning everything properly. We’re waiting for their current contract with their provider to end for the new site launch.</i></p>
      </div>
    </div>
    <!-- Pantry Pal -->
    <div class="timeline-item">
      <div class="text text-left">
        <h3 class="blue-text">2025 - Pantry Pal</h3>
        <p>Created and launched my own app.</p>
        <p><i>This was for my capstone but I wanted to do something meaningful, something that might help others while still completing my requirements at WGU.</i></p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-laptop-code"></i>
      </div>
      <div class="img-right br screenshot">
        <img src="/assets/images/pantryPal.png">
      </div>
    </div>
    <!-- WGU Grad -->
    <div class="timeline-item">
      <div class="img-left br">
        <!-- TODO: Replace with actual picture -->
        <img src="/assets/images/" alt="">
      </div>
      <div class="icon">
        <i class="fa-solid fa-user-graduate"></i>
      </div>
      <div class="text text-right">
        <h3 class="blue-text">2025 - Western Governors University</h3>
        <p>Graduated from WGU.</p>
        <p><i>Third time was indeed the charm.</i></p>
      </div>
    </div>
  </section>
</div>
