@import "../../../styles.scss";

.container {

  h2 {
    color: $faded-white;
  }

  .history {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    .item {
      scroll-snap-align: center;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 2px solid #2f2f2f;

      h3 {
        @include fluid-type(1.5rem, 2rem);
        margin-bottom: 1rem;
      }
      p {
        @include fluid-type(1rem, 1.5rem);
        width: 60vw;
      }
    }
  }
}
