<div class="container">
  <h2>My History</h2>
  <div class="history">
    <!-- UW -->
    <div class="item">
      <h3>2015 - University of Washington</h3>
      <p>Attended UW (1 year) for a bachelor’s in Computer Science.</p>
      <p><i>Life demanded I take a break to compete with the rise in cost of rent.</i></p>
    </div>
    <!-- Ford Lap -->
    <div class="item">
      <h3>2019 - Ford Middle School</h3>
      <p>Accepted Math LAP position to help students strengthen their math skills.</p>
      <p><i>A fulfilling position as I got to see the student’s growth as we worked together towards their goals.</i></p>
    </div>
    <!-- Ford Club -->
    <div class="item">
      <h3>2021 - Ford Middle School</h3>
      <p>Created and taught curriculum for 8th grade level web design.</p>
      <p><i>My excitement for code was transparent and the students wanted to see what the hype was about.</i></p>
    </div>
    <!-- WGU -->
    <div class="item">
      <h3>2021 - Western Governors University</h3>
      <p>Attended WGU for a Bachelor’s in Software Engineering.</p>
      <p><i>I could no longer deny my passion for code and returned to my journey towards my degree.</i></p>
    </div>
    <!-- FP -->
    <div class="item">
      <h3>2021 - Franklin Pierce School District</h3>
      <p>IT Intern lead for the Franklin Pierce School district.</p>
      <p><i>I was scouted by the lead in the networking department, best summer job I’ve ever had.</i></p>
    </div>
    <!-- Picha Farms -->
    <div class="item">
      <h3>2022 - Picha Farms</h3>
      <p>I redesigned their site for free as part of me giving back to a family who was struggling and whos site hasn't been touched since 2004.</p>
      <p><i>First time redesigning a site, I found it to be very fulfilling to bring a site back to life.</i></p>
    </div>
    <!-- Miles Technology -->
    <div class="item">
      <h3>2022 - Miles Technology</h3>
      <p>Summer Intern for the IT service desk.</p>
      <p><i>Right after I got my A+ certificate and I wanted to apply my skills.</i></p>
    </div>
    <!-- Beeline -->
    <div class="item">
      <h3>2023 - Beeline Pest Control</h3>
      <p>The owner created his site through a self service tool and struggled with aligning items for both desktop and mobile.</p>
      <p><i>The redesign was focused around making the site more accessible and user friendly.</i></p>
    </div>
    <!-- Pantry Pal -->
    <div class="item">
      <h3>2025 - Pantry Pal</h3>
      <p>Developed a web application that stores recipes, creates meal plans, and automates shopping lists based on the meal plans.</p>
      <p><i>Currently in the process of migrating the app to mobile and desktop applications.</i></p>
    </div>
    <!-- WGU Grad -->
    <div class="item">
      <h3>2025 - Western Governors University</h3>
      <p>Graduated from WGU.</p>
      <p><i>A Bachelors in Science: Software Engineering</i></p>
    </div>
  </div>
</div>
