@import "../../../styles.scss";

.container {

  h2 {
    color: $faded-white;
  }

  .timeline {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 5px;
      background: $black;
      z-index: 0;
    }
  }

  .timeline-item {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    width: 90vw;
    margin: auto;
    align-items: center;
    gap: 40px;
    padding: 50px 0;

    .br img {
      border-radius: 5%;
    }
    .screenshot img {
      width: clamp(300px, 40vh, 500px);
    }

    img {
      width: clamp(200px, 30vh, 400px);
      height: auto;
      filter:
        drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.4))
        drop-shadow(0 6px 12px rgba(0, 0, 0, 0.15));
    }
    .img-left {
      justify-self: end;
    }
    .img-right {
      justify-self: start;
    }

    & > .icon {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        background: $cream;
        border-radius: 50%;
        padding: 0.5rem;
        @include fluid-type(2rem,3rem);
      }
    }

    .text {
      // TODO: figure out a fluid type for width too, I don't want it super small on mobile
      // Or maybe min/max but the values reversed
      width: 60%;
      @include fluid-type(1rem, 1.4rem);
    }
    .text-right {
      justify-self: start;
    }
    .text-left {
      justify-self: end;
    }

    p > i {
      font-size: 0.8rem;
    }
  }
}
