@import "../../../styles.scss";

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  // TODO: Make flex column for mobile

  .text {
    width: 40vw;
    min-width: 500px;
    padding-left: 13vw;

    h1 {
      @include fluid-type(3rem, 6.25rem);
    }
    h3 {
      @include fluid-type(1.75rem, 2.5rem);
    }
    h1, h3 {
      font-weight: 300;
      padding: 0;
      margin: 0;
    }
    p {
      @include fluid-type(1rem, 1.5625rem);
    }
    .red {
      color: $red;
    }
  }

  img {
    // TODO: Maybe make this responsive with the fluid-type if I can, if not then the clamp
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 60vw;
  }
}
