<div class="container">
  <h2 class="title">Projects</h2>
  <div class="projects">
    <div class="card">
      <h3 class="card-title">Picha Farms</h3>
      <p class="card-type red-text">Redesign</p>
      <p class="card-desc">A website for a family owned farm based in Puyallup Washington to bring their 2004 site into modern design.</p>
      <p class="card-lang">HTML, CSS, JS</p>
      <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
    <div class="card">
      <h3 class="card-title">Beeline</h3>
      <p class="card-type red-text">Redesign</p>
      <p class="card-desc">A redesign to make Beeline, a family owned pest control company, a more user friendly site.</p>
      <p class="card-lang">HTML, CSS, JS, PHP</p>
      <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
    <div class="card">
      <h3 class="card-title">Pantry Pal</h3>
      <p class="card-type red-text">Web App</p>
      <p class="card-desc">An web application that allows for users to save recipes, create meal plans, and generate a shopping list based on that meal plan.</p>
      <p class="card-lang">Angular, TypeScript, MySQL, Springboot</p>
      <a href="https://pantrypalapp.net"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
  </div>
</div>
