// * VARIABLES *

// COLORS
// Icons, hrs, and some text
$black: #121212;
// Hrs on black background, white text
$white: #f7f7f7;
// Background
$cream: #fff9f5;
// Faded text on white background
$faded-white: #dbd7d7;
// Faded text on black background, some hrs and icons
$faded-black: #333333;
// Some highlight text, red saber glow
$red: #e63946;
// Inside of red saber
$red-saber: #F1ECE2;
// Some highlight text, blue saber glow
$blue: #45b4fe;
// Inside of blue saber
$blue-saber: #FEFEFF;
// Just the jedi text, yellow saber glow
$yellow: #e2bf33;
// Inside of yellow saber
$yellow-saber: #FEFEFE;
// Green saber glow
$green: #15EC5B;
// Inside of green saber
$green-saber: #EBFFEE;

// SHADOWS
// Pictures in timeline

// Lightsabers

// Skills icons

// Project cards


body {
  margin: 0;
}
