@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// * VARIABLES *

// COLORS

// SPACING
$padding: 100px;

// FONTS & TEXT
// PC Terminal
$terminal: 'VT323', monospace;

// Getting rid of all margins to make background images flushed with page, set all font to Inter, set entire background to cream
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #000;
}

// Turning text responsive
@mixin fluid-type($min-size, $max-size, $min-vw: 320px, $max-vw: 1200px) {
  font-size: $min-size;

  @media (min-width: $min-vw) {
    font-size: calc(
      #{$min-size} +
      (#{$max-size} - #{$min-size}) *
      ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw}))
    );
  }

  @media (min-width: $max-vw) {
    font-size: $max-size;
  }
}

// Variable for text headings
@mixin text-heading {
  @include fluid-type(2rem, 3.5rem);
}

@mixin text-body {
  @include fluid-type(1rem, 1.5rem);
}
