@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&family=Michroma&display=swap');

// * VARIABLES *

// COLORS
// Icons, hrs, and some text
$black: #121212;
// Hrs on black background, white text
$white: #f7f7f7;
// Background
$cream: #fff9f5;
// Faded text on white background
$faded-white: #dbd7d7;
// Faded text on black background, some hrs and icons
$faded-black: #333333;
// Some highlight text, red saber glow
$red: #e63946;
// Inside of red saber
$red-saber: #F1ECE2;
// Some highlight text, blue saber glow
$blue: #45b4fe;
// Inside of blue saber
$blue-saber: #FEFEFF;
// Just the jedi text, yellow saber glow
$yellow: #e2bf33;
// Inside of yellow saber
$yellow-saber: #FEFEFE;
// Green saber glow
$green: #15EC5B;
// Inside of green saber
$green-saber: #EBFFEE;

// SHADOWS
// Pictures in timeline

// Lightsabers

// Skills icons

// Project cards

// Getting rid of all margins to make background images flushed with page, set all font to Inter, set entire background to cream
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: $cream;
}

// Turning text responsive
@mixin fluid-type($min-size, $max-size, $min-vw: 320px, $max-vw: 1200px) {
  font-size: $min-size;

  @media (min-width: $min-vw) {
    font-size: calc(
      #{$min-size} +
      (#{$max-size} - #{$min-size}) *
      ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw}))
    );
  }

  @media (min-width: $max-vw) {
    font-size: $max-size;
  }
}

// Setting the hover animation for all star wars quotes
.starWars_quote {
  width: fit-content;

  &:hover {
    color: $blue !important;
    cursor: pointer;
  }
}

// All section headers has the same spacing
h2 {
  margin: 0;
  font-weight: 300;
  padding: 20px 0 0 80px;
  @include fluid-type(1.75rem, 2.5rem);
}

// All blue highlighted text
.blue-text {
  color: $blue;
}

.red-text {
  color: $red;
}
